button{
    padding :10px;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li input{
    color:black;
    margin:11px;
}
li button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: none;
    color:white;
}
.active {
    background-color: #0053ff;
}
div.userData{

    border-radius: 10px;
    background-color: lightblue;
    width: 100%;
    padding:10px;

}
div.container{
    margin: 10px 10px 10px 10px;
    width:100%;
}
div.container1{
    padding: 10px 10px 10px 10px;
    width:100%;
    margin-top:20px;
    margin-bottom: 20px;
}
div.container2{
    border:3px solid black;
    border-radius:10px;
    font-size: 30px;
    background-color: white;
    width:100%;
    padding: 10px 10px 10px 10px;
    width:100%;
}
h3.reg{
    margin-top:0px;
    margin-bottom:0px;
}
#submit-reg{
    padding: 10px;
    border-radius: 15px;
    background-color: #0053ff;
    color:white;
    width: 100px;


}